variables:
  BASE_IMAGE_NAME: ${REGISTRY_SERVER}/hyperd-containers/alpine
stages:
  - test
  - build
  - publish

container:
  stage: publish
  image: buildah/buildah
  # dependencies:
  #   - build
  before_script:
    - podman version
    - buildah version
    - echo $GOOGLE_REGISTRY_SERVER
    - echo $GOOGLE_APPLICATION_CREDENTIALS > /tmp/$CI_PIPELINE_ID.json
    - podman login --authfile /tmp/$CI_PIPELINE_ID.json "${GOOGLE_REGISTRY_SERVER}"
  script:
    - cd base/alpine
    - buildah bud -t ${BASE_IMAGE_NAME}:${CI_COMMIT_SHA} base/alpine
    - buildah push ${BASE_IMAGE_NAME}:${CI_COMMIT_SHA} docker://${BASE_IMAGE_NAME}:${CI_COMMIT_SHA}
  after_script:
    - podman logout "${GOOGLE_REGISTRY_SERVER}"