export REGION=europe-west1
export PROJECT_ID=example-project-id
export PROJECT_NAME=example-project
export GOOGLE_APPLICATION_CREDENTIALS=$PWD/secrets/gcloud/key.json
export REGISTRY="gcr.io"
export BASE_DIR=$(pwd)
